<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Sorgente ufficiale NuGet.org -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- GitHub Packages -->
        <add key="github" value="https://nuget.pkg.github.com/lexiangye/index.json" />
    </packageSources>
    
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%GITHUB_USER%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
  
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="CatalogOrders.Shared" />
            <package pattern="CatalogService.ClientHttp" />
        </packageSource>
    </packageSourceMapping>
</configuration>