<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Sorgente ufficiale NuGet.org -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- GitHub Packages -->
        <add key="github" value="https://nuget.pkg.github.com/lexiangye/index.json" />
    </packageSources>
  
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="CatalogOrders.Shared" />
        </packageSource>
    </packageSourceMapping>
</configuration>